.info{
    $line-normal : 1.34; // 지역변수
    font-size : 15px;
    line-height : $line-normal;
    text-align : right;
    span{
        line-height : $line-normal;
    }
}

div {
    color: red;
    line-height: $line-normal; // 지역변수 밖이라 적용이 안된다 오류
}